{{#partial "content"}}

    <div class="container pt-5">
        <div class="media-container-row">
            <div class="mbr-figure float-left" style="width: 55%;">
                <img class="img-fluid float-right" src="images/elephant.jpg" title="Elephant">
            </div>

            <div class="media-content">
                <div class="mbr-section-text mbr-white pb-2 pt-5 float-right">
                    <ul >
                        <li style="display: inline;" class="mbr-text mbr-fonts-style display-5 "> <a class="btn btn-outline-primary" href="/sightings/new">New Sighting</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}