{{#partial "content"}}
    <h4>Add Animal</h4>
    <button id="endg-btn" onclick="endangeredForm()" class="btn btn-outline-danger">Endangered Species</button>
    <button id="thrv-btn" onclick="thrivingForm()" class="btn btn-outline-primary">Thriving Species</button>

    <div id="form-div"></div>
{{/partial}}
{{>layout.hbs}}