{{#partial "content"}}

    <div class="card" style="width : 40vw; padding: 3% 5%;">
        <h3>Success!</h3>

        <div>
            <a href="/" style="text-decoration : none;">Back to Homepage</a>
        </div>
    </div>


{{/partial}}
{{> layout.hbs}}